SUPABASE_URL=https://jdiuuhfhsiymttxllssr.supabase.co
SUPABASE_ANON_KEY=cole_a_anon_key_aqui
SUPABASE_SERVICE_ROLE_KEY=cole_a_service_role_key_aqui
RESEND_API_KEY=cole_a_chave_resend_aqui
TOTAL_EXPRESS_USERNAME=usuario_total_express_aqui
TOTAL_EXPRESS_PASSWORD=senha_total_express_aqui
TOTAL_EXPRESS_TOKEN=cole_o_token_total_express_aqui_se_usar_token
TOTAL_EXPRESS_TRACKING_URL=https://apis.totalexpress.com.br/ics-tracking-encomenda-lv/v1/tracking/total
TOTAL_EXPRESS_TICKET_URL=https://apis.totalexpress.com.br/ics-ticket-lv/v1/ticket
TOTAL_EXPRESS_TICKET_CRIACAO_FUNCIONARIO_ID=
TOTAL_EXPRESS_TICKET_CATEGORIA_ID=
TOTAL_EXPRESS_TICKET_ASSUNTO_ID=
TOTAL_EXPRESS_TICKET_RESPONSAVEL_GRUPO_NIVEL_ID=
TOTAL_EXPRESS_TICKET_CRIACAO_GRUPO_ID=
TOTAL_EXPRESS_TICKET_RESPONSAVEL_GRUPO_ID=
TOTAL_EXPRESS_TICKET_PRIVACIDADE_ID=
TOTAL_EXPRESS_TICKET_REMETENTE_ID=
CORREIOS_TOKEN=cole_o_token_correios_aqui
CORREIOS_TRACKING_URL=https://api.correios.com.br/srorastro/v1/objetos
